#contact iframe
{
    width: 100%;
}
.travel_mainDiv
{
    border: 1px solid purple
}
.travel_mainDiv img
{
    width: 100%
}
.travel_mainDiv h5, . .travel_mainDiv p
{
    margin: 20px;
}
.movie_head {
    font-size: 21px;
    padding:6px 22px ;
    border-radius: 15px;
    margin-bottom: 15px;
}
.movie_head i
{
float:right;
}
.movie_text span
{
    color: darkgoldenrod;
}
.book img 
{
    width: 200px;
    height: 350px;
}